<div class="container">

    <mat-grid-list cols="5" rowHeight="70px"> 
        <mat-grid-tile id="button-tile" [colspan]="1">
            <button mat-stroked-button type="submit" routerLink="/view-items">Return to item list</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4"> 
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="400px"> 

        <mat-grid-tile [colspan]="3">
          

            <table id="itemDetails" class="table table-hover">
              
                    <tbody>
                    <tr>
                        <td class="cat"> Name</td>
                        <td>{{item.name}}</td>
                    </tr>
                    <tr>
                        <td class="cat"> Author's Name</td>
                        <td>{{item.authorName}}</td>
                    </tr>
                    <tr>
                        <td class="cat"> Author's Surname</td>
                        <td>{{item.authorSurname}}</td>
                    </tr>
                    <tr>
                        <td class="cat"> Category</td>
                        <td>{{item.category}}</td>
                    </tr>
                    <tr>
                        <td class="cat"> Author's Price</td>
                        <td>{{item.inStockPrice}}</td>
                    </tr>
                    <tr>
                        <td class="cat">Our Price</td>
                        <td>{{item.ourPrice}}</td>
                    </tr>
                    <tr>
                        <td class="cat">Weight</td>
                        <td>{{item.weight}}</td>
                    </tr>
                    <tr>
                        <td class="cat">Available</td>
                        <td *ngIf="item.available; else notAvailable">Yes</td>
                        <ng-template #notAvailable>No</ng-template>
                    </tr>
                    <tr>
                        <td class="cat">Description</td>
                        <td>{{item.description}}</td>
                    </tr>
                </tbody>
            </table>

          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="panel-body">
              <img [src]="'http://localhost:8081/images/item/'+item.id +'.png'" 
              class="responsive-img" />
              </div>
          </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="70px"> 
        <mat-grid-tile id="button-tile" [colspan]="1">
            <button mat-stroked-button type="submit" (click)="goToEdit(item)">Edit item</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4"> 
        </mat-grid-tile>
    </mat-grid-list>

  </div>

 <!-- 
  </div>
  <div [hidden]="!itemAdded">
    <h3>Item added successfylly!</h3>
  </div>
 -->


