mat-toolbar {
	background-color: #cc9900;
	font-family: Calibri, Verdana, sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 20px;
	color: white;
}
.fill-remaining-space {
	flex: 1 1 auto;
}
.login {
	float:right;
}
.mat-button-wrapper {
	font-family: Calibri, Verdana, sans-serif;
	font-size: 25px;
}